USE [master]
GO
/****** Object:  Database [EMS]    Script Date: 30-Mar-18 3:50:54 PM ******/
CREATE DATABASE [EMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMS]
GO
USE [EMS]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 30-Mar-18 3:50:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptId] [int] NOT NULL,
	[DeptName] [varchar](50) NOT NULL,
	[DeptSalary] [numeric](12, 0) NOT NULL,
	[DeptLocation] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpInfo]    Script Date: 30-Mar-18 3:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpInfo](
	[EmpId] [int] NOT NULL,
	[EmpName] [varchar](50) NOT NULL,
	[DeptName] [varchar](50) NOT NULL,
	[Location] [varchar](50) NOT NULL,
	[ContactNo] [numeric](11, 0) NOT NULL,
 CONSTRAINT [PK_EmpInfo] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 30-Mar-18 3:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocId] [int] NOT NULL,
	[LocName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([DeptId], [DeptName], [DeptSalary], [DeptLocation]) VALUES (1, N'Audit', CAST(80000 AS Numeric(12, 0)), N'Dhaka')
INSERT [dbo].[Department] ([DeptId], [DeptName], [DeptSalary], [DeptLocation]) VALUES (2, N'Accounts', CAST(35000 AS Numeric(12, 0)), N'Khulna')
INSERT [dbo].[Department] ([DeptId], [DeptName], [DeptSalary], [DeptLocation]) VALUES (11223, N'HR', CAST(31000 AS Numeric(12, 0)), N'Dhaka')
INSERT [dbo].[EmpInfo] ([EmpId], [EmpName], [DeptName], [Location], [ContactNo]) VALUES (123, N'Ahashan', N'Audit', N'Dhaka', CAST(1711111111 AS Numeric(11, 0)))
INSERT [dbo].[EmpInfo] ([EmpId], [EmpName], [DeptName], [Location], [ContactNo]) VALUES (9980, N'John Doe', N'Audit', N'Dhaka', CAST(1988776655 AS Numeric(11, 0)))
INSERT [dbo].[EmpInfo] ([EmpId], [EmpName], [DeptName], [Location], [ContactNo]) VALUES (11224, N'John Die', N'Audit', N'Dhaka', CAST(1999999999 AS Numeric(11, 0)))
INSERT [dbo].[Location] ([LocId], [LocName]) VALUES (1, N'Dhaka')
INSERT [dbo].[Location] ([LocId], [LocName]) VALUES (2, N'Khulna')
INSERT [dbo].[Location] ([LocId], [LocName]) VALUES (3, N'Barishal')
/****** Object:  StoredProcedure [dbo].[USPAddDept]    Script Date: 30-Mar-18 3:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USPAddDept]
(
@DeptId INT,
@DeptName VARCHAR(50), 
@DeptSalary NUMERIC(12,0),
@DeptLocation VARCHAR(50)
)
AS
BEGIN
INSERT INTO Department(DeptId, DeptName, DeptSalary, DeptLocation)
VALUES(@DeptId, @DeptName,@DeptSalary, @DeptLocation)
END

GO
/****** Object:  StoredProcedure [dbo].[USPDept]    Script Date: 30-Mar-18 3:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USPDept]
AS
BEGIN
SELECT DEPTID, DEPTNAME FROM Department
END
GO
/****** Object:  StoredProcedure [dbo].[USPEmpDtls]    Script Date: 30-Mar-18 3:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USPEmpDtls]
(
@EmpId INT,
@EmpName VARCHAR(50),
@DeptName VARCHAR(50), 
@Location VARCHAR(50),
@ContactNumber NUMERIC(11,0)
)
AS
BEGIN
INSERT INTO EmpInfo(EmpId, EmpName, DeptName, Location, ContactNo)
VALUES(@EmpId, @EmpName, @DeptName, @Location, @ContactNumber)
END
GO
/****** Object:  StoredProcedure [dbo].[USPLocation]    Script Date: 30-Mar-18 3:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USPLocation]
AS
BEGIN
SELECT * FROM LOCATION
END
GO
USE [master]
GO
